body {
  text-align: center;
  background-color: rgb(70, 70, 70);
  color: white;
}

.App {
  text-align: center;
  background-color: rgb(70, 70, 70);
  color: white;
}

.portfolio {
  border: 2px solid black;
  align-content: center
  
}

/* #form {
  width: 300px;
  align-content: center;
} */

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: tomato;
}

.PnL {
  color: green
}

.calendar {
  background-color: white;
  color: black
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-emphasis: emphasis;
  font-size: larger;
}

.selection {
  color: black
}